<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div style="height: 50px;display: flex"> 
        <div>
            <img src="logo2.1.webp" alt="logo of company" width="76px">
        </div>
        <!---nav bar -->
        <div style="flex: 4;background-color: black;">
            <ul type="none" style="display: flex;font-size:large;color: white;">
                <li style="flex: 1" >SmartPhones</li>
                <li style="flex: 1">SmartTV</li>
                <li style="flex: 1">EarPhones</li>
                <li style="flex: 1">Speakers</li>
                <li style="flex: 1">SmartWatch</li>
            </ul>

        </div>
    </div>
<hr>


<div style=display:flex;height:430px; >
    <div style="flex: 1; ">
        <img src="fold grey.jpg" alt="" width="100%" height="290px">
        <h3 style="text-align: center;">SAMSUNG Galaxy Z Flip4 5G</h3>
        <h4 style="text-align: center;">(Grey ,256 GB)</h4>
        <p style="text-align: center;"><big ><big>₹ 99,999</big></big>  <strike >₹1,01,999</strike>  <b >2%off</b></p>
    </div>

    <div style="flex: 1">
        <img src="Samsung_Galaxy_Z_Fold_2.jpg" alt="" width="100%" height="290px">
             
                 <h3 style="text-align: center;">SAMSUNG Galaxy Z Flip4 5G</h3>
            <h4 style="text-align: center;">(Pink,128 GB)</h4>
            <p style="text-align: center;"><big ><big>₹ 89,999</big></big>  <strike >₹1,01,999</strike>  <b >11%off</b></p>

    </div>
    <div style="flex: 1;">
        <img src="black fold.jpg" alt="" width="90%" height="290px">
        <h3 style="text-align: center;">SAMSUNG Galaxy Z Flip4 5G</h3>
        <h4 style="text-align: center;">(Black ,256 GB)</h4>
        <p style="text-align: center;"><big ><big>₹ 1,64,999</big></big>  <strike >₹1,87,999</strike>  <b >12%off</b></p></div>
</div>

<div style= display:flex;height:200px; >
    <div style="flex: 1; ">        <h3 style="text-align: center;">SPECIFICATIONS :-</h3>
        <h4 style="text-align: center;">
            <big>
             <pre>
12 GB RAM | 256 GB ROM
19.3 cm (7.6 inch) Full HD+ Display
50MP + 12MP + 10MP | 10MP Front Camera
4400 mAh Lithium Ion Battery
Qualcomm Snapdragon 8+ Gen 1 Processor</pre></big></h4>
        </pre></div>
    <div style="flex:1">
        
        <h3 style="text-align: center;">SPECIFICATIONS :-</h3>
        <h4 style="text-align: center;">
            <big>
             <pre>
12 GB RAM | 512 GB ROM
19.3 cm (7.6 inch) Full HD+ Display
50MP + 12MP + 10MP | 10MP Front Camera
4400 mAh Lithium Ion Battery
Qualcomm Snapdragon 8+ Gen 1 Processor</pre></big></h4>
        </pre></div>
    <div style="flex: 1;"><h3 style="text-align: center;">SPECIFICATIONS :-</h3>
        <h4 style="text-align: center;">
            <big>
             <pre>
12 GB RAM | 512 GB ROM
19.3 cm (7.6 inch) Full HD+ Display
50MP + 12MP + 10MP | 10MP Front Camera
4400 mAh Lithium Ion Battery
Qualcomm Snapdragon 8+ Gen 1 Processor</pre></big></h4>
        </pre></div>
</div>

<h4 style="text-align: center;">DESCRIPTION:-</h4>
    <section style="text-align: center;">
         The world around you and enjoy a seamless utility experience with the Samsung Galaxy Z Flip4 smartphone. This smartphone features a mind-blowing 4.82 cm (1.9) Cover Screen so that you can conveniently use your photos or videos as the wallpaper of your choice. Also, this phone boasts a versatile FlexCam hands-free camera setup that allows you to capture delightful group shots, selfies and videos from a multitude of angels. Moreover, thanks to the small-size Flip design and water-resistant standards, you can easily slip it into your bag or pocket as well as use it in rainwater without worrying about getting damaged.
        </section>
    <br>
    <br>
    <br>
    </article>
            <address>
                --designed by samsung Company
            </address>
        </section>
    </p>
</body>
</html>