<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div style="border: 1px solid ;height: 50px;display: flex"> 
        <div>
            <img src="logo2.1.webp" alt="logo of company" width="76px">
        </div>
        <!---nav bar -->
        <div style="flex: 4;background-color: black;">
            <ul type="none" style="display: flex;font-size:large;color: white;">
                <li style="flex: 1" >SmartPhones</li>
                <li style="flex: 1">SmartTV</li>
                <li style="flex: 1">EarPhones</li>
                <li style="flex: 1">Speakers</li>
                <li style="flex: 1">SmartWatch</li>
            </ul>

        </div>
    </div>
<hr>
    <p>
        <section style="text-align: center;">
            <article>
                <img src="Samsung-Galaxy-Z-flip.jpg"width="270px" alt="phone"> 
                <h3>SAMSUNG Galaxy Z Flip4 5G</h3>
                <h4>(Green Sacramento,128 GB)</h4>
                     <big><big>₹ 89,999</big></big>  <strike>₹1,01,999</strike>  <b>11%off</b>
<pre>
<h3>SPECIFICATIONS :-</h3>
<h4><big>8 GB RAM | 128 GB ROM
    17.02 cm (6.7 inch) Full HD+ Display
    12MP + 12MP | 10MP Front Camera
    3700 mAh Lithium Ion Battery
    Qualcomm Snapdragon 8+ Gen 1 Processor</big></h4>
</pre>
<h4>DESCRIPTION:-</h4>
    <section style="text-align: center;">
         The world around you and enjoy a seamless utility experience with the Samsung Galaxy Z Flip4 smartphone. This smartphone features a mind-blowing 4.82 cm (1.9) Cover Screen so that you can conveniently use your photos or videos as the wallpaper of your choice. Also, this phone boasts a versatile FlexCam hands-free camera setup that allows you to capture delightful group shots, selfies and videos from a multitude of angels. Moreover, thanks to the small-size Flip design and water-resistant standards, you can easily slip it into your bag or pocket as well as use it in rainwater without worrying about getting damaged.
        </section>
    <br>
    <br>
    <br>
    </article>
            <address>
                --designed by samsung Company
            </address>
        </section>
    </p>
</body>
</html>